.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: all $transition;

  &:hover{
  transform: scale(1.05);
  opacity: 0.8;
  }

  &-start {
    width: 90%;
    max-width: 190px;
    padding: 16px 28px;
    border-radius: 15px;
    background: $color-btn;
    font-family: $font-heading;
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-btn-text;
  }

  &-question {
    padding: 4px 15px;
    font-weight: 500;
    border-radius: 8px;
    border: 0.8px solid $color-btn;
  }

  &-submit {
    padding: 11px 22px;
    border-radius: 10px;
    background: $color-btn;
    color: $color-btn-text;
    font-weight: 600;
  }

  &-reset {
    width: 80%;
    padding: 11px 22px;
    border-radius: 10px;
    background: #fffad1;
    color: $color-btn;
    font-weight: 600;
    place-self: center;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.selected {
  background: $color-selected;
  border-color: $color-selected;
}