$font-main: 'Inter', sans-serif;
$font-heading: 'Karla', sans-serif;

$color-text: #293264;
$color-btn: #4D5B9E;
$color-selected: #D6DBF5;
$color-incorrect: #F8BCBC;
$color-correct: #94D7A2;


$color-btn-text: #F5F7FB;

$transition: 0.5s ease-in-out;


