@import './normalize';
@import './vars';
@import './placeholders';
@import './typography';
@import './buttons';

@import './App.scss';
@import './Intro.scss';
@import './Question.scss';
@import './Quizz.scss';

.page{
font-size: 10px;
box-sizing: border-box;
}
input[type=radio]{
padding: 4px 8px;;
}
