.Intro {
  margin: auto;
  text-align: center;

  &__title {
    margin-bottom: 24px;

    @include onMobile {}
  }

  &__desc {
    margin-bottom: 29px;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    width: 90%;
    gap: 12px;
    align-items: center;
    margin: auto;

    @include onMobile() {
      display: flex;
      flex-direction: column;
    }

    &>label {
      text-align: end;
    }
  }

  &__form-control {
    width: auto;
    height: fit-content;
    cursor: pointer;
    border: solid 1px #293264;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 1.2rem;
    line-height: normal;
    transition: all $transition;

    @include onMobile() {
      height: 32px;
      width: 80%;
    }
  }

  &__btn {
    grid-column: 1/3;
    place-self: center;
    margin-top: 20px;
  }
}