.Question {
  display: flex;
  gap: 12px;
  border: none;
  padding-bottom: 15px;
  border-bottom: 1px solid #DBDEF0;

  &__title {
    margin-bottom: 12px;
  }

  &__options {
    width: auto;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: flex-start;
    align-items: center;
  }

  &__input {
    width: auto;
    height: 100%;
    appearance: none;
    outline: none;
    cursor: pointer;
    border: solid 1px #293264;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 1.2rem;
    line-height: normal;
    transition: all $transition;

    &:checked {
      background-color: $color-selected;
      border-color: $color-selected;
    }
    &:hover{
    transform: scale(1.05);
    }
  }

  &__input:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: transparent;
  }

  .incorrect {
    background: $color-incorrect;
    border-color: $color-incorrect;
  }

  .correct {
    background: $color-correct;
    border-color: $color-correct;
  }

  .disabled {
    pointer-events: none;
  }
}